body{
    margin: 0 auto;
    height: 100vh;
    font-family: 'Edu SA Beginner', cursive;
    color: white;
    background-color: black;
    position: relative;
}

.homeBody{
    display: flex;
    flex-direction: column;
    /* justify-content: top; */
    align-items: center;
}

.body2{
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("imgs/bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.contactPage {
    height: 100vh;
}

@media(max-width: 1320px){
    #section1, .body2{
        background-size: 1320px auto;
        background-position: top center;
    }
}

@media(min-width:320px) and (max-width:700px){
    #section1, .body2{
        background-size: 950px auto;
    }
}

@media(max-width:375px){
    #section1, .body2{
        background-size: 650px auto;
    }
}

header{
    width: 100%;
}

.mainNav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainNav ul{
    padding: 0;
    width: 100% ;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.mainNav ul hr{
    height: 1px;
}

.mainNavContent{
    max-width: 70%;
}

.mainNavContent li{
    list-style: none;
    margin: auto;
    
}

.mainNavContent li a{
    padding: 4px;
    text-decoration: none;
    color: white;
    display: block;
    /* position: relative; */
    transition-duration: 0.2s;
}

.mainNavContent li a:hover{
    color: #fae41e;
    text-shadow: 4px 4px 2px #ffffff;
    top: -2px;
    padding-top: 2px;
}

.cartLink{
    margin-left: 100px;
}

.cartIcon{
    width: 100%;
    max-width: 35px;
    height: auto;
    transition-duration: 0.2s;
}

.cartIcon:hover{
    padding-bottom: 2px;
    box-shadow: 0px 4px 10px 0.5px #fae41e;
    border-radius: 50px;
}

#menuIcon{
    width: 100%;
    max-width: 30px;
    height: auto;
    fill: white;
    display:none;
    cursor: pointer;
}

.mainNav ul.showTheMenu{
    left: 0;
}

.headingDiv .mainHeading{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

main section{
    width: 100%;
}

#section1{
    height: 90vh;
    background-image: url("imgs/home_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0;
}

#section1 div{
    margin: 30px 0;
}

#homeText{
    background-color: rgba(0, 0, 0, 0.3);
}

#section2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#section2 .pageLinks{
    width: calc(100%/3);
    height: 430px;
    margin: 0;
    position: relative;
}

.pageLinks a{
    color: white;
    text-decoration: none;
}

#section2 .pageLinks img{
    width: 100%;
    height: 100%;
    display: block;
}

.linkImgOverlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
    transition: 0.25s;
}

.linkImgOverlay:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.25s;
}

.linkImgTitle{
    font-size: 2em;
    font-weight: bold;
}

.linkImgOverlay hr{
    width: 100px;
}

.linkImgOverlay > * {
    transform: translateY(80px);
    transition: transform(0.25s);
    transition-duration: 0.5s;
}

.linkImgOverlay:hover > * {
    transform: translateY(0);
    
}

#section3{
    background-color: black;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 75px;
}

#section3 #form{
    display: flex;
    flex-direction: row;
}

#section3 .subHeading{
    padding: 10px 0;
}

.newsletterContact{
    margin: 0 5px;
}

.body2 .mainNav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    text-align: center;
    line-height: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.body2 main{
    height: 100vh;
    margin: 50px 0;
}

.mainText{
    max-width: 70%;
}

.mainText p{
    text-align: center;
    font-size: 24px;
}

.aboutText p{
    text-align: left;
}

.reservationSelection{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #a83632;
    padding: 10px;
}

.select{
    width: 70%;
    height: 30px;
    padding: 0;
    margin: 3px 0;
    border: 0;
    cursor: pointer;
}

.reservationSelection #legend{
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 700;
    margin: 15px 0 25px;
}

.reservationSelection button{
    margin: 15px 0;
}

.aboutText h2{
    display: inline-block;
    border:  2px solid #a83632;
    border-radius: 20px;
    padding: 5px;
}

.contactPage main section{
    width: 100%;
    margin: 25px 0;
}

.contactPageContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
}

.contactPageImage img{
    width: 100%;
}

.contactPageContent div{
    width: calc(100%/3);
    text-align: center;
}

.contactForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactForm form div{
    width: 100%;
    margin: 5px 0;
}

.contactForm form #div1{
    margin-bottom: 0;
}

.contactForm #name, .contactForm #email{
    width: 42%;
}

.contactForm #subject, .contactForm #message{
    width: calc(85% + 8px);
    margin: 5px 0;
}

.contactForm #message{
    height: 100px;
}

.contactForm button{
    width: 30%;
    margin: 5px 0;
}

.formBox{
    height: 35px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.sendButton{
    transition: 0.25s;
}

.sendButton:hover{
    color: #fae41e;
    border: 2px solid #fae41e;
    cursor: pointer;
}

.contactDetails{
    font-size: 20px;
}

.contactDetails p a{
    color: #fae41e;
}

.contactDetails p a:visited{
    color: #a83632;
}

.pageContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galleryWrapper{
    width: 85%;
}

.galleryHeading h1{
    padding-left: 20px;
}

.galleryHeading h1 span{
    color: #fae41e;
    font-weight: 100;
}

.canvas{
    margin: 0 0.65rem;
}

.canvas .img{
    height: auto;
    margin: 0.5rem;
}

.canvas .img img{
    max-width: 100%;
    height: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.canvas .img img:hover{
    cursor: pointer;
}

/*watch video on positioning*/
.pageFooter{
    position: relative;
    left: 0;
    bottom: 0;
    margin-top: 30px;
    padding: 10px 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footerContent{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media(min-width:700px){
    .mainHeading{
        font-size: 3em;
    }

    .subHeading{
        font-size: 30px;
    }

    .canvas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 300px);
        grid-auto-flow: row dense;
    }

    .canvas .img{
        margin: 0.7rem;
    }

    .canvas .img:first-child{
        grid-row: span 1;
    }

    .canvas .img:nth-child(2){
        grid-column: 2 / 3;
        grid-row: span 2;
    }

    .canvas .img:nth-child(6), .canvas .img:nth-child(8){
        grid-row: span 2;
    }
}

@media(min-width:700px) and (max-width:1024px){
    .mainText p{
        font-size: 20px ;
    }

    #section2 .pageLinks{
        height: 350px;
    }
}

@media(max-width:410px){
    #section1{
        margin: 0;
        height: 85vh;
    }

    #section1 .headingDiv, #section1 .headingDiv h1{
        margin: 0;
    }

    #section2{
        margin-top: 0;
    }

    #section2 .pageLinks{
        height: 300px;
    }

    #section3 div{
        text-align: center;
    }
}

@media(min-width:410px) and (max-width:700px){
    #section2 .pageLinks{
        height: 400px;
    }
}

@media(max-width:700px){
    #section1{
        margin: 0px;
    }

    #section2{
        display: flex;
        flex-direction: column;
    }

    #section2 .pageLinks{
        width: 100%;
        /* height: 400px; */
        margin: 0;
    }

    .linkImgTitle{
        font-size: 1.25em;
    }

    #section3 #form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #form button{
        width: 30%;
        margin-top: 10px;
    }

    .mainText p{
        font-size: 18px;
    }
    
    .body2{
        background-repeat: repeat-y;
    }

    .subHeading{
        font-size: 18px;
    }

    .contactDetails{
        font-size: 15px;
    }

    .galleryHeading{
        padding-right: 15px;
        text-align: center;
    }

    .galleryHeading h1{
        font-size: 1.75em;
    }
}

@media(max-width:1024px){
    .mainNav, .body2 .mainNav{
        justify-content: space-between;
        /* background: rgba(0, 0, 0, 0.5); */
    }

    #menuIcon{
        margin: 15px 0 0 15px;
        display: block;
    }

    .cartLink{
        margin: 15px 15px 0 0;
    }
    .mainNav ul{
        display: block;
        position: fixed;
        max-width: 100%;
        width: 30%;
        height: 100vh;
        top: 50px;
        left: -100%;
        background: black;
        text-align: center;
        margin:0;
        transition: all 0.5s;
    }

    .mainNavContent li{
        margin: 30px 0;
    }

    .mainNav ul hr{
        display: none;
    }

    .pageLink{
        border-bottom: none !important;
    }

    main{
        width: 100%;
    }

    main section{
        width: 100%;
    }

    .contactPageContent{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contactPageContent div{
        width: 70%;
        margin: 20px 0;
    }

    .contactPage main{
        margin-bottom: 150px;
    }

    .pageFooter{
        height: auto;
    }
    .footerContent{
        display: flex;
        flex-direction: column;
    }

    .footerContent p{
        margin: 3px 0;
        line-height: 10px;
        font-size: 12px;
    }
}

@media(min-width: 1024px){
    .canvas{
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, auto-flow);
    }

    .canvas .img:first-child, .canvas .img:nth-child(7), .canvas img:nth-child(8){
        grid-column: span 2;
        grid-row: span 1;
    }

    .canvas-item:nth-child(2){
        grid-column: span 2;
        grid-row: span 2;
    }
}